.botao {
    border-radius: 20px;
    text-align: center;
    color: #000;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: #fff;
    padding: 10px 10px;
    transition: ease 0.8s;
}

.botao:hover {
    background-color: crimson;
    border: 1px solid crimson;
    transition: ease 0.8s;
    padding: 10px 10px;
    color: #000;
}

.arrow {
    color: #000;
    border: #FFF;
    width: 20px;
    height: 20px;
}

span {
    padding-left: 0;
    transition: ease-in-out 0.5s;
}

div {
    margin-top: 300px;
    text-align: center;
}